* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

/* Стилі для форм реєстрації та логування */

.auth-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.error-span {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 150;
  font-size: 0.8rem;
  color: red;
  z-index: 1;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.auth-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.auth-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.auth-container.sign-up-mode .left-panel .image,
.auth-container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.auth-container.sign-up-mode .signin-signup {
  left: 25%;
}

.auth-container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.auth-container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.auth-container.sign-up-mode .right-panel .image,
.auth-container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.auth-container.sign-up-mode .left-panel {
  pointer-events: none;
}

.auth-container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .auth-container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .auth-container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .auth-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .auth-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .auth-container.sign-up-mode .left-panel .image,
  .auth-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .auth-container.sign-up-mode .right-panel .image,
  .auth-container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .auth-container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .auth-container {
    padding: 1.5rem;
  }

  .auth-container:before {
    bottom: 72%;
    left: 50%;
  }

  .auth-container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/* Successful authenticathion massage styles */

.success-message { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  width: 210px;
  height: 50px;
  border-radius: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: small;
  animation: from_the_left 5s ease-in-out;
}
.success-message span {
  font-family: "Poppins", sans-serif;
  width: 150px;
  animation: from_the_left_span 5s ease-in-out;
}

.checkmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #1f92f7;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke: #1f92f7;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes from_the_left {
  0% {
    width: 50px;
    opacity: 0;
  }
  10% {
    width: 210px;
    opacity: 1;
  }
  80% {
    width: 210px;
    opacity: 1;
  }
  100% {
    width: 50px;
    opacity: 0;
  }
}

@keyframes from_the_left_span {
  0% {
    width: 0px;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    width: 150px;
  }
  80% {
    width: 150px;
    opacity: 1;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

/* Основні стилі */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Стилі хедеру та меню */

.site-header {
  height: 90vh;
  background: linear-gradient(0deg, #4481eb 0%, #1f92f7 100%);
  border-bottom-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 90%;
  box-shadow: 0 0 30px #4481eb;
  text-align: center;
  color: white;
}

.site-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 30px;
  background-color: #fff;
  z-index: 999;
  transition: 0.5s ease-in-out;
}

.site-nav.auth-site-nav {
  top: 0;
  background: none;
  position: absolute;
}

.site-nav.auth-site-nav > .logo-link > .logo {
  color: #fff;
}

.site-nav.nav-sign-up-mode > .logo-link > .logo {
  color: #333;
}

.site-nav.nav-sign-up-mode > .nav-list > .nav-list-item > .nav-link {
  color: #fff;

}

.site-nav.nav-sign-up-mode > .nav-list > .nav-list-item > .nav-link:hover {
  color: #c9c9c9;
}

.site-nav.nav-sign-up-mode > .nav-list > .nav-list-item > .nav-link:hover::after {
  background-color: #c9c9c9;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  color: #1f92f7;
}

.logo-link {
  display: flex;
  width: 30%;
  align-items: center;;
}

.loding {
  display: flex;
  justify-content: center;
  padding: 300px;
}

.logo-link img {
  width: 50px;
  height: 50px;
}

.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #7e7c7e;
  transition: .6s;
  position: relative;
  padding: 5px;
}

.nav-link:hover {
  color: #303030;
}

.nav-link:hover::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #1f92f7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logout {
  display: absolute;
  width: 30vw;
  height: 250px;
  top: 200px;
  left: 35vw;
  background-color: #fff;
  border-radius: 30px;
}

.main-title {
  padding-top: 230px;
  font-size: 55px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

.search-container {
  text-align: center;
  margin-top: 30px;
}

.search-box {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  /* Заокруглені кути для поля вводу */
  overflow: hidden;
  /* Потрібно, щоб кнопка не виступала за межі поля вводу */
}

.search-input {
  padding: 16px;
  width: 700px;
  border: none;
  border-radius: 20px;
  /* Заокруглені кути для поля вводу */
  outline: none;
  /* Видаляє зовнішній контур при фокусуванні */
}

.search-button {
  padding: 12px 20px;
  background-color: #1f92f7;
  color: #fff;
  border: 3px solid #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s ease;
}

.intro {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 21px;
}

.main-content {
  margin-top: 30vh;
}

/* Стилі блоку з користями */

.benefits {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.benefits-title {
  display: block;
  color:#444;
  width: 100%;
  text-align: center;
}

.benefit {
  padding: 100px;
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
}

.benefit > h3 {
  display: block;
  width: 100%;
  text-align: center;
}

.benefit > ul {
  display: block;
  width: 80%;
}

.benefit > ul > li {
  display: block;
  padding: 5px;
}

.students-benefits {
  color: #fff;
  background: linear-gradient(0deg, #4481eb 0%, #1f92f7 100%);
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  box-shadow: 0 0 30px #4481eb;
}

/* Стилі футеру */
.section-header {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 60px;
  margin-bottom: 32px;
}

.contacts-section {
  background: linear-gradient(0deg, #4481eb 0%, #1f92f7 100%);
  box-shadow: 0 0 30px #4481eb;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.white-header {
  margin-bottom: 60px;
}

.footer-text {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 40px auto;
}

.footer-link {
  width: 43px;
  height: 43px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

.footer-link > i {
  font-size: 35px;
  color: #fff;
}

.footer-socials {
  margin-bottom: 40px;
}

.phone {
  color: #fff;
  margin-bottom: 12px;
}

.mail {
  color: #fff;
  margin-bottom: 50px;
}

hr {
  margin-bottom: 25px;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #fff;
}

.copyright {
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
}

/* Стилі сторінки пошуку */

.search-header {
  height: 35vh;
  background: linear-gradient(0deg, #4481eb 0%, #1f92f7 100%);
  border-bottom-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 90%;
  box-shadow: 0 0 30px #4481eb;
  text-align: center;
  color: white;
  overflow: auto;
}

.search-container.search-page {
  position: relative;
  margin-top: 20vh;
}

.search-content {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.mini-advert {
  margin: 10px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
  border: 2px solid #4481eb;
  background: #FFF;
  box-shadow: 7px 7px 7px 0px #4481eb;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.7fr 1fr;
}

.mini-advert:hover {
  border: 2px solid #1f6aec;
  box-shadow: 7px 7px 7px 0px #1f6aec;
}

.mini-teacher-photo {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  grid-row: span 3;
}

.mini-title {
  grid-column: span 3;
  display: flex;
  align-items: center;
  height: 100%;
}

.mini-category {
  display: flex;
  align-items: center;
}

.mini-description {
  grid-column: span 4;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Кількість ліній, після яких текст буде обрізаний */
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-rating {
  display: flex;
  align-items: center;
}

.star {
  position: relative;
  display: inline-block;
  color: silver;
  font-size: 20px;
  --rating: 0%;
}
.star::before {
  content: '★★★★★';
  position: absolute;
  left: 0;
  top: 0;
  width: var(--rating); 
  overflow: hidden;
  color: gold; 
}

/* Стилі сторінки 404 */

.not-found-container {
  height: 90vh;
  background: linear-gradient(0deg, #4481eb 0%, #1f92f7 100%);
  border-bottom-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 90%;
  box-shadow: 0 0 30px #4481eb;
  text-align: center;
  color: white;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}